<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link href="css/bootstrap.min.css" type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link href="css/custom.css" type="text/css" th:href="@{/css/custom.css}" rel="stylesheet"/>
		<script src="js/jquery1.12.4.min.js" th:src="@{/js/jquery1.12.4.min.js}"></script>
		<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	</head>

	<body class="logBackground">
		<div class="container-fluid">
			<div class="row col-md-6 col-xs-12 logRow">
				<div class="col-sm-7 hidden-xs logCustom logInfo" >				
						<h4 class="text-center">人生若只如初见，何事秋风悲画扇。</h4>
						<br>
						<p>后台测试账号，版本1.0.0，哈哈闹着玩滴，还没做好，还是太菜，慢慢完善...</p>
						<p>账号：admin</p>
						<p>密码：123456</p>
				</div>
				<div class="col-sm-5 col-xs-12 text-center logCustom">
					<img src="img/bootstrap-solid.jpg" th:src="@{img/bootstrap-solid.jpg}" class="center-block img-circle img-responsive logImg"/>
					<form action="/login" method="post">
						<span th:text="${msg}" class="text-danger"></span>
						<label  class="sr-only">Username</label>
						<input type="text" name="username" class="form-control" placeholder="Username" required="" value="admin"/>
						<label  class="sr-only">Password</label>
						<input type="password" name="password" class="form-control" placeholder="Password" required="" value="123456"/>
						<div class="checkbox">
							<label >
								<input type="checkbox" class="checkbox" value="remember-me" />remember me
							</label>
						</div>
						<input class="btn btn-primary btn-block logBtn" type="submit" value="Sign In"  />
					</form>
				</div>
			</div>
		</div>
	</body>

</html>
